<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.namecard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/mainicon"
        android:label="Name Card"
        android:roundIcon="@drawable/mainicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.CardExchangeView" />
        <activity android:name=".views.MyCardListView" />
        <activity android:name=".views.CardClickView"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".connection.CardAddressRequest"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".views.CardRegisterView"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".views.SignUpView" />
        <activity
            android:name=".views.LoginView"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".views.MainView"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>